openssl_conf = openssl_init

[openssl_init]
engines = engine_section

[engine_section]
pkcs11 = pkcs11_section

[pkcs11_section]
engine_id = pkcs11
dynamic_path = /usr/lib/aarch64-linux-gnu/engines-3/libpkcs11.so
MODULE_PATH = /lib/liboptigatrust-i2c-linux-pkcs11.so
init = 0
